* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #000;
}

.icon {
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.gif-style {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px 0;
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

.quiz-title {
    margin-top: 20px;
}

button {
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #000;
    display: block;
    margin: 20px auto;
    padding: 15px 32px;
    font-size: 16px;
}

.quiz-questions {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 15px;
}

.quiz-questions .quiz-container {
    border: 2px solid #3d3d3d;
    margin-top: 20px;
    border-radius: 2px;
}

.quiz-questions .quiz-selection {
    margin: 30px;
}

.quiz-questions .question-style {
    padding: 20px;
}

.quiz-questions label {
    display: block;
}

.quiz-questions ul {
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid #000;
}

.quiz-questions li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.in-out {
    padding: 10px;
    margin-bottom: 10px;
    color: #ff0000;
    animation: blinker 1s linear;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input[type="radio"] {
    margin: 0 10px;
}


/* Media Queries */

@media only screen and (max-width: 750px) {
    body {
        width: 75%;
        margin: 0 auto;
    }
}

