* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #d3d3d3;
    color: #000;
    
}

.icon {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out; 
}

.icon:hover{
    transform: scale(1.1);
}

.gif-style {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px 0;
    
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #000;
    display: block;
    margin: 20px auto;
    padding: 15px 32px;
    font-size: 16px;
}

.quiz-questions {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 15px;
}

.quiz-questions .quiz-container {
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 2px;
}

.quiz-questions .quiz-selection {
    margin: 30px;
}

.quiz-questions .question-style {
    padding: 20px;
}

.quiz-questions label {
    padding: 10px;
    display: block;
}

.quiz-questions ul {
    text-align: center;
    margin: 20px;
    border: 1px solid #000;
    padding: 20px;
}

.quiz-questions li {
    list-style: none;
    font-size: 20px;
    margin: 60px;
    padding: 20px 40px;
    text-align: center;
    display: inline;

}

.in-out {
    padding: 10px;
    color: #ff0000;
}

input[type="radio"]{
    margin: 0 10px;
}